version: "3.9"

services:
  dovecot:
    build: ./dovecot
    container_name: dovecot
    restart: unless-stopped
    ports:
      - "143:143"
      - "993:993"
      - "110:110"
      - "995:995"
    volumes:
      - ./mail:/var/mail
      - ./certs:/etc/dovecot/certs:ro
      - ./users:/etc/dovecot/users:ro

  postfix:
    build: ./postfix
    container_name: postfix
    hostname: mail.securepulse.fr
    restart: unless-stopped
    depends_on:
      - dovecot
    ports:
      - "25:25"
      - "587:587"
    volumes:
      - ./certs:/etc/postfix/certs:ro

  roundcube:
    image: roundcube/roundcubemail:latest
    container_name: roundcube
    restart: unless-stopped
    depends_on:
      - dovecot
      - postfix
    ports:
      - "8080:80"
    environment:
      - ROUNDCUBEMAIL_DEFAULT_HOST=dovecot
      - ROUNDCUBEMAIL_DEFAULT_PORT=143
      - ROUNDCUBEMAIL_SMTP_SERVER=postfix
      - ROUNDCUBEMAIL_SMTP_PORT=25
      - ROUNDCUBEMAIL_SKIN=elastic
      - ROUNDCUBEMAIL_DB_TYPE=sqlite
